.container-calculator {
	width: 600px;
	height: 550px;
	background: grey;
	margin: 50px auto;
	border: 10px solid black;
	border-radius: 30px;
	padding: 10px;
}

.screen {
	border: 5px solid black;
	border-radius: 25px;
	padding: 20px;
	padding-right: 30px;	
	margin: 20px;
	margin-top: 50px;
	font-size: 38px;
	background: white;
	text-align: right;
}

.button {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	margin: 20px;
	margin-top: 25px;
}

.bttn {
	font-size: 16px;
	border-radius: 10px;
	background: white;
	border-color: white;
}

.clear {
	grid-column: span 2;
	border-radius: 10px;
	background: coral;
	border-color: coral;
}

.bttn:hover {
	opacity: .8;
	border-radius: 10px;
	cursor: pointer;
}

.operator {
	background: aquamarine;
	border-color: aquamarine;
}	

.equal {
	grid-row: span 4;
	font-size: 24px;
	background: orange;
	border-color: orange;
}

.decimal {
	background: darkgrey;
	border-color: darkgrey;
}

.zero {
	grid-column: span 2;
}

button {
	padding: 16px;
}
